a{
    display: inline-block;
    margin: 5px;
    padding: 10px;
    color: #eeeeee;
    text-decoration: none;
    border: 2px groove #eeeeee;
    border-radius: 15px;
}

a:hover{
    background-color: #333333;
}
