*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    color: #eeeeee;
}

input, select{
    -webkit-appearance: none; /* Nativo de Safari kick */
    -moz-appearance: none; /* Nativo de Firefox kick */
    appearance: none;
}

nav {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    padding: 5px 10px;
}

summary *{
    display: inline;
}

footer *{
    text-align: center;
}