/* Estructura general de la página */

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #222222;
    color: #eeeeee;
}

nav {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    padding: 5px 10px;
    gap: 5px;
}

nav *{
    text-align: center;
}

summary *{
    display: inline;
}

footer *{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

/* Botones */

input, select{
    -webkit-appearance: none; /* Nativo de Safari kick */
    -moz-appearance: none; /* Nativo de Firefox kick */
    appearance: none;
}

a, button, input, select{
    display: inline-block;
    padding: 15px;
    font-size: 20px;
    color: #eeeeee;
    font-weight: bold;
    border-radius: 20px;
    border: 2px groove #eeeeee;
    background-color: #222222;
    text-decoration: none;
    transition: all 0.5s ease;
}

a:hover, button:hover {
    background-color: #333333;
}

/* Formularios */

.mono-inputs input {
    min-width: 90dvw;
}

@media screen and (min-width: 612px){
    .mono-inputs input {
        min-width: auto;
    }
}