*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#input-config-web {    /*Elimina el cuadro de Checkbox, Aun se habilita con la imagen*/
    display: none;
}

.config-web{
    display: flex;
    position: fixed;

}

.config-web ul {
    position: fixed;
    list-style: none;
/*     display: none;*/
    width: 50vw;
    padding: 0;
    bottom: calc(50vw + 5px);
    right: -320px;
    transition: all 1s;
}

.config-web li {
    border: 1px solid #eeeeee;
    background-color: #222222;
    margin: 0;
}

.config-web li:hover {
    background: #333333;
}

.config-web li label {
    display: block;
    font-size: 15px;
    padding: 10px 15px;
    color: darkorange;
}

#img-config-web {
    width: 20vw;
    height: 20vw;
    position: fixed;
    right: 0;
    bottom: calc(30vw + 5px);
}

#input-config-web:checked ~ #listaConfig{  /*~Hace cambios en el Hermano #listaConfig al hacer checked*/
    /*display: block;*/
    right: 0;
}

.controles{
    margin: 0;
}

.controles button{
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#controles-computer {
    display: none;
}

#controles-user button, .icon-oalt{
    width: 30vw;
    height: 30vw;
    min-width: min-content;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}

#activarPiedra{
    background-image: url("./assets/rock.png");
}

#activarPapel{
    background-image: url("./assets/paper.png");
}

#activarTijeras{
    background-image: url("./assets/scissors.png");
}

.contenido-main {
    display: flex;
    justify-content: center;
}

#izq, #der {
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}

#der img {
    transform: scaleX(-1);
}

.contenido-main section div img{
    width: 35vw;
    height: 35vw;
}

input, label {
    appearance: auto;
    border: none;
}

#vista-winner-msj-info {
    display: flex;
    margin-top: 10px;
    justify-content: space-evenly;
}

.icon-oalt {
    width: 120px;
    height: 40px;
    background-image: url("./assets/oalt.png");
}

#vista-winner-msj {
    padding: 10px 0;
    text-align: center;
}

@media screen and (min-width: 720px) {

    .controles button {
        width: 200px;
    }

    .contenido-main section div img {
        width: 30vh;
        height: 30vh;
    }

    .config-web ul {
        width: 300px;
        bottom: 85px;
    }

    .config-web ul li label {
        padding: 15px;
    }

    #img-config-web {
        width: 80px;
        height: 80px;
        bottom: 0;
    }

    #controles-user button {
        width: 180px;
        height: 180px;
    }

    .icon-oalt {
        width: 180px;
        height: 60px;
        background-image: url("./assets/oalt.png");
    }
}